/*#####################
Additional Styles (required)
#####################*/

.bg-news {
    background-color: #222222;
    background-image: url('../img/news_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.bg-news .section-heading {
    color: white;
}
.bg-news .form-group {
    margin-bottom: 25px;
}
.bg-news .form-group input,
.bg-news .form-group textarea {
    padding: 20px;
}
.bg-news .form-group input.form-control {
    height: auto;
}
.bg-news .form-group textarea.form-control {
    height: 236px;
}
.bg-news .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
.bg-news ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.bg-news :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.bg-news ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.bg-news :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.bg-news .text-danger {
    color: #e74c3c;
}

#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}
 
#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}
 
@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}